body {
  background-image: url(img/1.jpg);
  background-size: cover;
  background-position: center;
}

/* navbar */
.navbar {
  top: 20px;
  width: 95%;
  margin-left: 20px;
  background-color: rgba(42, 42, 42, 0.5);
  border-radius: 10px;
  color: white;
}

.nav-link {
  color: white;
}

.collapse {
  padding-left: 45%;
}

.nav-item {
  margin-left: 100px;
  font-size: 1.2em;
}

.nav-item:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

/* heroes */
.heroes {
  color: white;
}

.h1 {
  width: 70%;
  margin-top: 150px;
  margin-left: 50px;
}

.h1,
h1 {
  font-size: 2em;
}

#fullText {
  width: 50%;
  margin-left: 50px;
  overflow: hidden;
  max-height: 130px;
}

.read-more-btn {
  margin-top: 10px;
  padding: 8px 16px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

#fullText.expanded {
  max-height: 1000px; /* Atur sesuai panjang isi teks */
}

button {
  margin-left: 50px;

  border-radius: 10px;
  height: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

button:hover {
  color: rgb(167, 166, 166);
  background-color: rgba(42, 42, 42, 0.5);
}

@media (max-width: 600px) {
  /* navbar */
  .navbar {
    margin: auto;
    color: white;
    height: 100%;
    text-align: center;
  }

  .navbar-toggler {
    margin-left: 220px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: white;
  }

  /* heroes */
  .heroes {
    margin-bottom: 100px;
    text-align: center;
  }

  .h1 {
    align-items: center;
    margin-top: 40px;
    width: 95%;
    text-align: center;
    margin-left: auto;
  }

  #fullText {
    width: 70%;
    text-align: center;
    margin: auto;
  }

  button {
    bottom: 20px;
    margin: auto;
  }
}
